<?xml version="1.0" encoding="UTF-8"?>
<assets>
    <settings>
        <display width="1440" height="720"/>
        <timing renderFPS="120" logicFPS="360"/>
    </settings>
    <textures>
        <texture id="rocket" path="assets/rocket.png"/>
        <texture id="asteroid" path="assets/asteroid.png"/>
        <texture id="stars" path="assets/stars.png"/>
    </textures>
    <sounds>
        <sound id="explosion" path="assets/explosion.mp3"/>
        <sound id="rocket" path="assets/rocket.mp3"/>
    </sounds>
    <gameObjects>
        <!-- Background (rendered first) -->
        <object type="background">
            <background texture="stars" tileWidth="800" tileHeight="600" scrollX="0.3" scrollY="0.3"/>
        </object>
        <object type="player">
            <position x="0" y="0"/>
            <sprite texture="rocket" width="120"/>
            <physics type="dynamic" shape="ellipse" linearDamping="0.8" angularDamping="0.0" fixedRotation="false" density="1.0"/>
            <rotateToMouse rotationMaxSpeed="360" rotationAccel="720" rotationDecel="1080" rotationSlowRadius="60" rotationDeadZone="1" rotationEaseExponent="0.6"/>
            <move thrustForce="2500.0" maxSpeed="4500.0"/>
            <particleEmitter type="continuous" spawnRate="500" lifetime="1" speedMin="50" speedMax="150" size="3" spreadAngle="180" directionOffset="180" offsetX="-60" offsetY="0" requireMouseButton="true" burstCount="60" burstDuration="0.18" startColor="255,128,0,255" endColor="255,0,0,0"/>
            <explosionEmitter burstCount="1200" burstDuration="0.5" lifetime="2.0" size="2.0" speedMin="100" speedMax="300" spreadAngle="360" directionOffset="0" offsetX="0" offsetY="0" startColor="255,200,100,255" endColor="100,50,0,0"/>
        </object>
    </gameObjects>
    <game highScore="0"/>
</assets>
